doctype html
html(lang='fr')
  head
  body
    h2 Game n°#{game.id}   
    p (#{game.status})
    table(border="1")
      tr
        th Game 
        th Name 
        th Current player id 
        th Mode 
        th Status 
        th Edit 
      tr
        td #{game.id}
        td #{game.name}
        td #{game.currentPlayerId}
        td #{game.mode}
        td #{game.status}
        td
          form(action=`/games/${game.id}/edit`, method='GET')
              input(type='submit', value='Edit')

    br 
    p GamePlayers in this game :
    table(border="1")
      tr
        th Rank 
        th Id 
        th name
        th Remaining Shots 
        th Score
          
      each val in gameplayers
        tr          
          td #{val.rank}
          td #{val.playerId}
          each player in players
            if player.id == val.playerId
              td #{player.name}
          td #{val.remainingShots} 
          td #{val.score} 

    if game.status == "draft"
          form(action=`/games/${game.id}/players`, method='GET')
            input(type='submit', value='Game players')
    
      
    if currentplayer && game.status == "started"
      p il lui reste #{currentplayer.remainingShots}
      each player in players
        if player.id == currentplayer.playerId
          p c'est au tour de #{player.name}

      form(action=`/games/${game.id}/shots`, method='POST')
        label Sector :
        br
        input(type='text', name='sector')
        br
        label Multiplicator :
        select(name='multiplicator', size='1')
          option 1
          option 2
          option 3

        br

        input(type='submit', value='Valider')

      form(action=`/games/${game.id}/shots?sector=0&multiplicator=0`, method='POST')
        input(name="multiplicator" type="hidden" value="0")
        input(name="sector" type="hidden" value="0")
        input(type='submit', value='Cible raté')

        
            
    p Last shots of this game :
    table(border="1")
      tr
        th Player Id
        th Sector
        th Multiplicator
        
          
      each val in shots
        tr
          td #{val.playerId}  
          td #{val.sector} 
          td #{val.multiplicator} 
    br

